@page "/viewPeople"

<PageTitle>Viewing People</PageTitle>

@using StarWarsApp.ExternalService.StarWarsApi.Interfaces;
@using StarWarsApp.ExternalService.StarWarsApi.Responses;
@inject ISWApiServiceRouter Router;

<h3>Viewing People</h3>

@if (_people == null)
{
        <p><em>Fetching People - Please wait one moment!</em></p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Gender</th>
                    <th>Eye Color</th>
                    <th>Hair Color</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in _people)
                {
                    <tr>
                        <td>@person.name</td>
                        <td>@person.birth_year</td>
                        <td>@person.gender</td>
                        <td>@person.eye_color</td>
                        <td>@person.hair_color</td>
                    </tr>
                }
            </tbody>
        </table>
}

@code {

    private IEnumerable<SWApiPerson>? _people = null;

    protected override async Task OnInitializedAsync()
    {
        _people = await Router.GetAllPeopleAsync();
    }

}
